@import "../abstract/colors.scss";

.footer {
    background-color: $footer-color;
    color: white;
    padding: 22px 25px;
}

/* .footer i {
    height: 11px;
    width: 13px;
} */

.logo-footer{
    filter: invert(100%);
}

.text-footer {
    font-family: Shrikhand;
}

.liste-footer {
    list-style-type: none;
    a {    
        color: white;
        font-weight: 400;
        padding-bottom: 9px;
        text-decoration: none;
    }
    li {    
        padding-top: 7px;
    }
    .fa-solid {    
        margin-right: 7px;
    }
    .fa-utensils {
        font-size: 14px;
    }
    .fa-handshake-angle {    
        font-size: 10px;
    }
    .mentions-contact {
        font-weight: 300;
    }
}

li {        
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
}