@import "../abstract/colors.scss";

.footer {
    background-color: $footer-color;
    color: white;
    padding: 22px 25px;
}

.logo-footer{
    filter: invert(100%);
}

.text-footer {
    font-family: Shrikhand;
}

.liste-footer {
    list-style-type: none;

    a {    
        color: white;
        font-weight: 400;
        padding-bottom: 9px;
        text-decoration: none;
    }

    li {    
        padding-top: 7px;
    }

    .fa-solid {    
        margin-right: 7px;
    }

    .fa-utensils {
        font-size: 14px;
    }

    .fa-handshake-angle {    
        font-size: 10px;
    }

    .mentions-contact {
        font-weight: 300;
    }
}

li {        
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
}

@media screen and (min-width: 1024px) {
    .footer {
        display: flex;        
        flex-direction: row-reverse;

        & .text-footer {
            padding: 30px 40px 10px 80px
        }

        ul {
            display: flex;
            padding: 30px 0 10px 0;

            li {
                padding-left: 15px;
            }
            
            .devenir-partenaire {
                padding-right: 25px;
            }
        }
    }
}