@import "../abstract/colors.scss";

.menu-header {
    display: flex;    
    align-items: center;
    justify-content: center;
}

.retour {
    position: absolute;
    left: 15px;
    i {
        font-size: 21px;
        color: black;
    }
}

.menu-image {
    height: 275px;
    width: 100%;
    position: relative;
    z-index: -1;
}

.h1 {
    display: flex;    
    justify-content: space-between;
    align-items: center;
    margin: 30px 18px 30px 18px;
    padding-right: 60px;
    input[type="checkbox"] {
        display: none;
    }    
    input[type="checkbox"] + label {
        display: inline-block;
        cursor: pointer;
    }    
    .heart-icons {
        position: relative;
        bottom: 0;
        right: 0;
        display: flex;
        align-items: center;
    }    
    .heart-icon {
        width: 30px;
        transition: opacity 0.3s;
        position: absolute;
        top: -25px; 
    }    
    .empty,
    #heart-checkbox-1:checked + label .heart-icon:last-child,
    #heart-checkbox-2:checked + label .heart-icon:last-child,
    #heart-checkbox-3:checked + label .heart-icon:last-child,
    #heart-checkbox-4:checked + label .heart-icon:last-child {
        opacity: 1;
    }    
    .full,
    #heart-checkbox-1:checked + label .heart-icon:first-child,
    #heart-checkbox-2:checked + label .heart-icon:first-child,
    #heart-checkbox-3:checked + label .heart-icon:first-child,
    #heart-checkbox-4:checked + label .heart-icon:first-child {
        opacity: 0;
    }
}

.menu-carte {
    background-color: $main-bg-color;
    border: 1px solid transparent;    
    border-radius: 30px 30px 0 0;
    margin-top: -50px;    
}

.menu-liste {
    padding: 0 10px 40px 10px;
    overflow: hidden;
    h2 {    
        font-size: 16px;
        font-weight: 300;
        text-transform: uppercase;
    }    
    &:nth-child(2) .plat {
        animation: fadeInLeft 1s 1800ms both;
    }    
    &:nth-child(3) .plat {
        animation: fadeInLeft 1s 2100ms both;
    }
    &:nth-child(4) .plat {
        animation: fadeInLeft 1s 2400ms both;
    }
}

@keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.trait-dessous {
    margin-top: 4px;
    background: $line-color;
    width: 40px;
    height: 3px;
}

.plat {
    display: flex;
    overflow: hidden;
    width: 100%; 
    margin-top: 15px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.10);  
}

.menu-plats {
    display: flex;     
    justify-content: space-between;
    align-items: flex-end; 
    padding: 10px 15px;
    width: 100%;
    cursor: pointer;
    position: relative; 
    opacity: 1;
    // transition: opacity 0.5s ease, transform 0.5s ease;
 
    white-space: nowrap; //
    // overflow: hidden;        
    // text-overflow: ellipsis;

    .prix-plat {
        p {
            font-weight: 700; 
        }    
    } 
    &:hover {        
        border-radius: 15px 0 0 15px;
        + .checkmark {
            opacity: 1;
            transform: translateX(0); 
            width: 69px;           
        }
    }
        p {    
            padding-top: 5px;
            font-size: 15px;
        }
         
    }


.checkmark {    
    display: flex;
    background-color: $line-color;
    border: 1px solid transparent;
    border-radius: 0 15px 15px 0;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.10);
    width: 0;    
    opacity: 0;
    overflow: hidden;
    position: relative;
    align-items: center;
    justify-content: space-around;
    transform: translateX(69px);   
    transition: transform 300ms linear, opacity 300ms linear, background-color 300ms linear, width 300ms linear;
    .fa-check {
        height: 18px;
        width: 18px;
        font-size: smaller;
        color: $line-color;
        border: 1px solid white;
        border-radius: 10px;
        padding: 2px;
        background-color: white;
        border: none;
    }
}



@media screen and (min-width: 1024px) {
    .menu-carte {
        margin: -35px 150px;
        padding: 10px 170px;
        .h1 {
            justify-content: center;
            padding-right: 0;
            h1 {
                padding-right: 30px;
                font-size: 26px;
            }
        }
    }
    .retour {
        i {
            padding-top: 20px;
            padding-left: 10px;
        }
    }
}

