@import "../abstract/colors.scss";

.menu-header {
    display: flex;    
    align-items: center;
    justify-content: center;
}

.retour {
    position: absolute;
    left: 15px;
    i {
        font-size: 21px;
        color: black;
    }
}

.menu-image {
    height: 275px;
    width: 100%;
    position: relative;
    z-index: -1;
}

.h1 {
    display: flex;    
    justify-content: space-between;
    align-items: center;
    margin: 30px 18px -10px 18px;
    padding-right: 20px;
    input[type="checkbox"] {
        display: none;
    }
    
    input[type="checkbox"] + label {
        display: inline-block;
        cursor: pointer;
    }
    
    .heart-icons {
        position: relative;
        bottom: 0;
        right: 0;
        display: flex;
        align-items: center;
    }
    
    .heart-icon {
        width: 30px;
        height: 30px;
        transition: opacity 0.3s;
        position: absolute;
        top: -25px; 
    }
    
    .empty,
    #heart-checkbox-1:checked + label .heart-icon:last-child,
    #heart-checkbox-2:checked + label .heart-icon:last-child,
    #heart-checkbox-3:checked + label .heart-icon:last-child,
    #heart-checkbox-4:checked + label .heart-icon:last-child {
        opacity: 1;
    }
    
    .full,
    #heart-checkbox-1:checked + label .heart-icon:first-child,
    #heart-checkbox-2:checked + label .heart-icon:first-child,
    #heart-checkbox-3:checked + label .heart-icon:first-child,
    #heart-checkbox-4:checked + label .heart-icon:first-child {
        opacity: 0;
    }

}

.menu-carte {
    background-color: $main-bg-color;
    border: 1px solid transparent;    
    border-radius: 30px 30px 0 0;
    margin-top: -50px;
    
}

.menu-liste {
    margin: 40px 10px;
    h2 {    
        font-size: 16px;
        font-weight: 300;
        text-transform: uppercase;
    }
}
.trait-dessous {
    margin-top: 4px;
    background: $line-color;
    width: 40px;
    height: 3px;
}

.plat {
    display: flex;
}

.menu-plats {
    background-color: white;
    border: 1px solid transparent;
    border-radius: 15px;
    box-shadow: 0px 4.011494159698486px 15.043103218078613px 0px rgba(0, 0, 0, 0.10);
    padding: 10px 15px;
    margin-top: 12px;    
    z-index: 1;
    &:hover {
        transform-origin: 0% 50%;
        
        transform: scaleX(0.85);
        transition: transform 100ms; 

    }    



    
    .sous-titre-plat {
        display: flex;
        padding-top: 5px;    
        justify-content: space-between;
        p {    
            font-size: 15px;
        }
        .prix-plat {    
            font-weight: 700; 
        }  
    }
}

.checkmark {
    border: solid 1px black;
    z-index: 0;
}




@media screen and (min-width: 1024px) {
    .menu-carte {
        margin: -35px 150px;
        padding: 10px 170px;
        .h1 {
            justify-content: center;
            h1 {
                padding-right: 30px;
                font-size: 26px;
            }
        }
    }

    .retour {
        i {
            padding-top: 20px;
            padding-left: 10px;
        }
    }
}

