* {
    font-family: 'Roboto', sans-serif; 
    margin: 0;
    padding: 0;    
    box-sizing: border-box;    
    object-fit: cover;
}

:root {
    --main-color: #9356DC;
    /* $main-color: #9356DC; */
    --main-bg-color: #F6F6F6;
    /* $main-bg-color: #F6F6F6; */
    --footer-color: #353535;    
    /* $footer-color: #353535; */
    --logo-color: #7E7E7E;
    /* $logo-color: #7E7E7E; */
}

h1 {
    font-family: Shrikhand;
    font-size: 28px;    
    font-style: normal;
    font-weight: 400;
}

h2 {    
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
}

h3 {
    font-size: 18px;
}

p {    
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
}

button,
li {        
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
}

body {
    box-sizing: border-box;
}

/* header img {    
    width: 220px;
    height: 36px;
} */

.header {
    display: flex; 
    justify-content: center;
    align-items: center;
}

.logo-header {
    width: 197px;
    height: 36px;    
    text-align: center;
    margin: 10px 0px 8px 0px;   
    /* box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.55); */

}

.logo-header-restau {
    display: flex;
    align-self: flex-end;
}

.localisation {
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
    gap: 17px;
    background: var(--grey-2, #EAEAEA);    
    font-size: 16px;
    font-weight: 500;
}

.explorer-restau {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--main-bg-color);
}

.explorer-restau h2 {
    padding: 35px 58px 0 42px;
    text-align: center;
}

.explorer-restau p {
    padding: 10px 26px 28px 34px;
    text-align: center;
}

.bouton {
    width: 218px;
    /* height: 50px; */
    /* padding: 0 26px 20px 34px; */
    margin-bottom: 57px;
    border: 0 solid transparent;
    border-radius: 25px;
    background: var(--button-gradient, linear-gradient(175deg, #FF79DA 0%, #9356DC 100%));
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
    color: white;
    text-align: center;
    height: 50px;
    line-height: 47px;
}

.fonctionnement {
    padding-bottom: 45px;
}

.fonctionnement h2{
    padding: 45px 80px 30px 20px;
}

.fonctionnement .numero {    
    display: flex;
    justify-content: center;
    padding-top: 7px;
    align-items: center;
    width: 29px;
    height: 24px;
    border: 1px solid var(--main-color);    
    border-radius: 50px;
    background-color: var(--main-color);
    color: white;    
    font-size: 14px;
    font-weight: 500;    
    margin-left: 32px;
    margin-right: -12px;
    z-index: 3;
}

.fonctionnement-rectangle {
    display: flex;
    align-items: baseline;
    margin-left: -15px;
}



.liste-fonctionnement {
    margin-bottom: 20px;
    margin-right: 20px;
    display: flex;
    border: 1px solid transparent;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
    width: 100%;
    height: 72px;
    border-radius: 20px;
    /* justify-content: space-evenly; */
    align-items: center;
    background-color: var(--main-bg-color);
    /* order: 5; */    
    gap: 30px;
    padding-left: 31px;
}

.liste-fonctionnement p {    
    font-size: 16px;
    font-weight: 500;
}

/* .fa-solid {
    display: flex;
    width: 13px;
    height: 20px; 
} */

.fa-heart {
    font-size: 25px;
    
}

.fa-mobile-screen-button,
.fa-list {
    color: var(--logo-color);
}

.fa-mobile-screen-button {
    font-size: 20px;
}

.fa-list {
    font-size: 15px;
}

.fa-store {
    color: var(--main-color);
    font-size: 14px;
}


.restaurants {
    background-color: var(--main-bg-color);
    padding: 52px 18px 45px 17px;
}

.restaurants h2 {
    padding-bottom: 20px;
}

.restau-card {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 15px;
    margin-bottom: 18px;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.10);
    text-decoration: none;
    color: black;



    /* height: 251px; */
}

.restau-card img {
    height: 170px;    
    border-radius: 15px 15px 0 0;
/*     
    object-fit: cover;   
    box-sizing: border-box;  */
}

.restau-card h3,
p {
    padding-bottom: 4px;
}

.card-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 25px 12px 13px;
}

.card-content p {
    font-size: 17px;
}

.footer {
    background-color: var(--footer-color);
    color: white;
    padding: 22px 25px;
}

/* .footer i {
    height: 11px;
    width: 13px;
} */

.logo-footer{
    filter: invert(100%);
}

.text-footer {
    font-family: Shrikhand;
}

.liste-footer {
    list-style-type: none;
}

.liste-footer a {    
    color: white;
    font-weight: 400;
    padding-bottom: 9px;
    text-decoration: none;
}

.liste-footer li {    
    padding-top: 7px;
}

.liste-footer .fa-solid {    
    margin-right: 7px;
}

.liste-footer .fa-utensils {
    font-size: 14px;
}

.liste-footer .fa-handshake-angle {    
    font-size: 10px;
}

.liste-footer .mentions-contact {
    font-weight: 300;
}

/************* Menu *************/
.menu-header {
    display: flex;    
    align-items: center;
}

.logo-header-menu { 
    margin-left: -40px;    
    width: 375px;
    z-index: -1;
}

.retour {
    margin-left: 22px;
}

.retour i {
    font-size: 21px;
    color: black;
}

.menu-image {
    height: 275px;
    width: 100%;
    position: relative;
    z-index: -1;
}

.h1 {
    display: flex;    
    justify-content: space-between;
    align-items: center;
    margin: 30px 18px -10px 18px;
    padding-right: 20px;

}

.menu-carte {
    background-color: var(--main-bg-color);
    border: 1px solid transparent;    
    border-radius: 30px 30px 0 0;
    margin-top: -50px;
}

.menu-liste {
    margin: 40px 10px;
}

.menu-liste h2 {    
    font-size: 16px;
    font-weight: 300;
    text-transform: uppercase;
}
.trait-dessous {
    margin-top: 4px;
    background: #99E2D0;
    width: 40px;
    height: 3px;
}


.menu-plats {
    background-color: white;
    border: 1px solid transparent;
    border-radius: 15px;
    box-shadow: 0px 4.011494159698486px 15.043103218078613px 0px rgba(0, 0, 0, 0.10);
    padding: 10px 15px;
    margin-top: 12px;

}

.sous-titre-plat {
    display: flex;
    padding-top: 5px;    
    justify-content: space-between;
}

.sous-titre-plat p {    
    font-size: 15px;
}


.sous-titre-plat .prix-plat {    
    font-weight: 700;   
}

.bouton-commander {
    display: flex;
    margin-bottom: 40px;
    justify-content: center;
    margin-bottom: -15px;
}

.bouton-commander .bouton{
    width: 186px;
    height: 50px;
}